<!-- {{ allTasks | json }} -->
<br>
<br>
<h1>Restfull Tasks API</h1>
<br>
<h3>All the Tasks</h3>
<span *ngFor="let idx of allTasks['t'] | keyvalue">
  <!-- {{idx.value['title']}} -->
  <br>
  <!-- Key: <b>{{idx.key}}</b> and Value:  -->
  <b>{{idx.value['title']}} {{idx.value['description']}}</b>
  <br>
  <span *ngIf="idx.key == 3"><h3>The Fourth Task</h3></span>
  <span *ngIf="idx.key == 3">{{idx.value['title']}}  {{idx.value['description']}}</span>
</span>


<h3 >{{task | json}}</h3>
<router-outlet></router-outlet>