<!-- {{ allTasks | json }}
{{oneTask | json}} -->
<br>
<br>
<h1>Restfull Tasks API</h1>
<br>
<button (click)="getTasksFromService()">Show all Tasks!</button>
<br>
<h3>All the Tasks</h3>
<table *ngFor="let idx of allTasks['t'] | keyvalue" class="table"><!--Table for all Tasks-->
  <br>
  <tr>
    <td>
      Key: <b>{{idx.key}}</b> and Value:
    </td>
    <td>
      <b>{{idx.value['title']}}</b>
      <button (click)="getOneTaskFromService(idx.key)">SHOW</button>
    </td>
  </tr>
  <br>
</table><!--Table for all Tasks-->
<table class="table"><!--Table for oneTask Description-->
  <h2>{{oneTask.t.description}}</h2>  
  <br>
</table><!--Table for oneTask Description-->
<form action="">

</form>



<router-outlet></router-outlet>